 
black = #000;
red   = #c00;
blue  = #39c;

/* Larger than mobile */
media_sm     = "screen and (min-width: 400px)" 
media_max_sm = "screen and (max-width: 400px)" 

/* Larger than phablet (also point when grid becomes active) */
media_md     = "screen and (min-width: 550px)" 
media_max_md = "screen and (max-width: 550px)" 

/* Larger than tablet */
media_lg     = "screen and (min-width: 750px)" 
media_max_lg = "screen and (max-width: 750px)" 

/* Larger than desktop */
media_xl     = "screen and (min-width: 1000px)" 
media_max_xl = "screen and (max-width: 1000px)" 

/* Larger than Desktop HD */
media_xxl     = "screen and (min-width: 1200px)" 
media_max_xxl = "screen and (max-width: 1200px)" 

//-- images
wing_bg = "img/wing.svg" 
.wing-bg { background-image: embedurl(wing_bg, 'utf-8'); }
