@import "_vendor/normalize.css"
@import "_vendor/skeleton.css"
@import "_layout"
@import "_variables"
@import "_fontfaces"

html, body
    font-family: 'Open Sans', sans-serif
    background: url(img/lightpaperfibers/lightpaperfibers.png) repeat;

a
	color: blue
	text-decoration: none
	transition: color 200ms ease
	&:hover
		color: red
		text-decoration: none


